button {
    font-family: "Montserrat",
        sans-serif;
}

.navBar {
    padding: 10px 25px 10px 25px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    height: 80px;
    position: sticky; /* Establece la posición sticky */
    top: 0; /* Fija la barra en la parte superior */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}


.navBar button {
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    height: 3.2rem;
    width: 8.5rem;
    color: black;
    background-color: transparent;
}

.navBar button:nth-child(4) {
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid black;
}

.logo {
    gap: 10PX;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}