.member-name{
    margin: 0 20px;
}

.member-description-box{
    width: 600px;
    background-color: white;
    border: solid 1px var(--main-dark-color);
}

.member-description-text{
    width: 400px;
    margin: 20px 0 20px 20px;
}

.member-image{
    position: absolute;
    top: 39px;
    left: 410px;
    width: 237px;
}

.member-container{
    position: relative;
    width: fit-content;
}

.member-skills{
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 10px 20px;
}

.skill-icon{
    width: 50px;
}