button{
    width: 176px;
    height: 51px;
    border-radius: 35px;
    color: white;
    background-color: var(--main-dark-color);
    font-weight: 600 !important;
}

button:hover{
    background-color: white;
    color: var(--main-dark-color);
    border: solid 1px var(--main-dark-color);
}
